body{
	font-family: 'Poppins', sans-serif;
	font-weight: normal;
}
header{
	background: url(../img/bg.jpg);
}
.pagination{
	margin-left: 50%;
}
.pagination_clientes{
	    margin-top: 20px;
		margin-left: 35%;

}
.pagination_leis{
		margin-left: 38%;

}
.pag_item{
	width: 23px;
	height: 23px;
	float:left;
	border-radius: 3px;
	border:1px solid #000;
	margin-right: 3px;
	text-align: center;
	line-height: 23px;

}
.pag_item a{
color:#000;
text-decoration: none;
}
.pag_item{
	width: 23px;
	height: 23px;
	float:left;
	border-radius: 3px;
	border:1px solid #000;
	margin-right: 3px;
	background-color: #ccc;
	text-align: center;
	line-height: 23px;

}
.pag_item a{
color:#000;
text-decoration: none;
}

.pag_ativo{
	background-color: #437b4a;
	
}

.pag_ativo a{
	color: #fff;
	
}
.btncurso{
text-align: right;
margin-right:0px;
margin-top: 2px;
float: right;
color: blue;
}

.mapa{
	text-align: right;
}

.divclientes{
	height: 100%;
}

.tudo {
 display: table;
 }
 th{
 	border-radius: 10px;
 	background-color: #009b3a;
 	color: #ffffff;
 	text-align: center;
 }
 td{
 	border-radius: 10px;
 	background-color: #FFFAFA;
 }
.clientestabela h3{
	margin-top: -100px;
	text-align: left;
	font-size: 15px;
	color: #bca708;
	padding-top: 30px;
	text-transform: uppercase;
	font-size: 2.55em;
	font-style: italic;
	font-weight: 550;
}
.clientestabela { 
text-align: center;
 margin-top: 150px;
 margin-left: 100px;
 margin-bottom: 60px;
 float: left;
 width: 80%;
}

.mapa h3{
	margin-top: 10px;
	text-align: left;
	font-size: 46px;
	color: #bca708;
}
.mapa{
 margin-top: 90px;
 margin-left: 100%;
 margin-bottom: 30px;
 }

.button{
		text-align: center;
		background-color: 

}

.titulo{
    padding-top: 30px;
	text-transform: uppercase;
	letter-spacing: .2em;
	font-size: 3.125em;
	font-style: italic;
	text-decoration: underline;
	color: #0a1c11;
	font-weight: 550;
	text-align: center;
}
.carousel{
	height: 87%;
}
.carousel-inner{
	margin-left: 10%;
}
.tab{
	width: 100%;
	font-size: 1.7em;
	text-transform: uppercase;
	color: #fff;
	background: #437b4a;
	padding: 15px 0 15px 0; 
}
.navbar-dark .navbar-nav .nav-link {
  color: #fff;
  text-transform: uppercase;
}
.bg-nav{
  background-color: rgba(0, 0, 0, 0.7);
}
.area_aluno a{
    cursor:pointer;
	outline: none;
	display: inline;
    text-decoration: none;
	display:inline-block;
	color: #fff;
}
.area_aluno{
	color: #fff;
	padding: 5px 20px 5px 20px;
	top: 80px;
	right: 40px;
	position: absolute;
	border-radius: 20px;
	background: #55c767; /* Old browsers */
	background: -moz-linear-gradient(top, #55c767 0%, #49aa4f 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #55c767 0%,#49aa4f 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #55c767 0%,#49aa4f 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#55c767', endColorstr='#49aa4f',GradientType=0 ); /* IE6-9 */
	z-index: 100;
	border: 1px solid #202b29;  
}
.whatsapp{
	color: #fff;
	padding: 5px 20px 5px 20px;
	top: 80px;
	right: 200px;
	position: absolute;
	border-radius: 20px;
	background: #55c767; /* Old browsers */
	background: -moz-linear-gradient(top, #55c767 0%, #49aa4f 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #55c767 0%,#49aa4f 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #55c767 0%,#49aa4f 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#55c767', endColorstr='#49aa4f',GradientType=0 ); /* IE6-9 */
	z-index: 100;
	border: 1px solid #202b29;  
}
.whatsapp span{
	font-size: 12px;
}

.pagination{
margin-top: 30px;
margin-bottom: 30px;
}

.pag_item{
	width: 23px;
	height: 23px;
	float:left;
	border-radius: 3px;
	border:1px solid #000;
	margin-right: 3px;
	text-align: center;
	line-height: 23px;

}
.pag_item a{
color:#000;
text-decoration: none;
}
.pag_ativo{
	background-color: #437b4a;
	
}

.pag_ativo a{
	color: #fff;
	
}
.noticias-button a{
	cursor:pointer;
	outline: none;
	display: inline;
    text-decoration: none;
	display:inline-block;
	color: #fff;
}
.noticias-button button{
    bottom: 10px;
    height: 40px;
    color: #fff;
    width: 200px;
    text-align: center;
    font-weight: bold;
    z-index: 9999;
    border-radius: 3px;
    font-weight: normal;
	font-size: 20px;
    border: 1px solid #202b29;
    background: #bca708; /* Old browsers */

}
.parceiro-button button {
    position: fixed;
    bottom: 10px;
    right: 10px;
    color: #fff;
    width: 220px;
    text-align: right;
    font-weight: bold;
    z-index: 9999;
    border-radius: 3px;
    font-weight: normal;
    border: 1px solid #202b29;
    border-radius: 10px;

    background: #bca708; /* Old browsers */
    background: -moz-linear-gradient(top, #f509407a 0%, #e06e6e 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #f509407a 0%,#e06e6e 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #f509407a 0%,#e06e6e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f509407a', endColorstr='#e06e6e',GradientType=0 ); /* IE6-9 */
}
.parceiro-button i {
    font-size: 25px;
    color: #fff;
    position: absolute;
    top: 5px;
    left: 5px;
}
.parceiro-div{
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 220px;
    z-index: 9999;
    border-radius: 3px;
    font-weight: normal;
    border: 1px solid #28a745;
    border-radius: 10px;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f509407a', endColorstr='#e06e6e',GradientType=0 ); /* IE6-9 */
}
.parceiro-div2{
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 220px;
    z-index: 9999;
    font-weight: normal;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f509407a', endColorstr='#e06e6e',GradientType=0 ); /* IE6-9 */
}
.banner{
  width: 100%;
  height: 805px;
  background: url(../img/bg.jpg);
}

.v-banner{
    background-color: rgba(100, 100, 100, 0.3);
	margin-top:120px;
	margin-left:140px;
	height: 50%;
	width: 80%;
}

.v-banner img{
	margin-top:60px;
	margin-left:-30px;
	height: 320px;
	width: 900px;
}



.m-banner{
    background-color: rgba(100, 100, 100, 0.3);
	margin-top:150px;
	margin-left:10px;
	height: 30%;
	width: 95%;
	display: none;

}

.m-banner img{
	margin-top:30px;
	margin-left:0px;
	height: 115px;
	width: 270px;
}


.partners {
	position: relative;
}
.partners span{
	width: 100%;
	margin-bottom: 2.5rem;
	font-family: "Times New Roman", Times, serif;
	text-transform: uppercase;
	font-size: 1.4em;
	text-align: center;
}
.item span{
	margin: 0 auto;
}

.item img{
	width: 80% !important;
	-webkit-filter: grayscale(100%);
	   -moz-filter: grayscale(100%);
	    -ms-filter: grayscale(100%);
	     -o-filter: grayscale(100%);
	filter: grayscale(100%);
	opacity: 0.5;
}
.item img:hover{
	filter: inherit;
	opacity: 1;
}
.about{
	font-family: "Times New Roman", Times, serif;
	background: url(../img/folhas.jpg) no-repeat top center;
}
.about h1{
	text-transform: uppercase;
	letter-spacing: .2em;
	font-size: 3.125em;
	color: #263e3d;
}
.about p{
	width: 50%;
	margin: 0 auto; 
	font-size: 1.25em;
	line-height: 1.8em;
}
.about-page-img{
	-webkit-box-shadow: -14px -15px 0px 1px rgba(54,61,57,1);
	-moz-box-shadow: -14px -15px 0px 1px rgba(54,61,57,1);
	box-shadow: -14px -15px 0px 1px rgba(54,61,57,1);
}
.about-page p:first-child{
	font-size: 1em;
}
.about-page p{
	font-size: .9em;
}
.about-page h3{
	color: #bca708;
	font-style: italic;
}
.differential h5{
	text-transform: uppercase;
}
.differential{
	font-size: 14px;
  	text-align: center;
  	border-bottom: 7px solid #bca708;
	background: -moz-linear-gradient(top, #ffffff 0%, #f8f6e6 99%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #ffffff 0%,#f8f6e6 99%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #ffffff 0%,#f8f6e6 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f8f6e6',GradientType=0 ); /* IE6-9 */
}
.differential .card{
	background: none;
  	border: none;
}
.differential .card img{
	max-width: 144px;
	margin: 0 auto; 
}
.about{
	text-align: center;
}
.ass{
	font-size: 11px;
	color: #fff;
	text-align: center;
	padding: 25px 0 25px 0; 
	background: #363d39;
}
.social{
	font-size: 35px;
}
.social a{
	margin-right: 20px;
	color: #fff;
}
.view h2{
	width: 110%;
	position: absolute;
	top: 60px;
	left: 5%;
	font-size: 46px;
	color: #bca708;
	font-weight: 800;
}
.view p{
	max-width: 650px;
	margin-left: 2%;
	margin-top: 200px;
	font-size: 20px;
	text-align: justify;
	color: #292929;
}


.texto p{
	text-align: center;
	font-size: 20px;
	color: #292929;
	text-align: justify;
	margin-left: 70px;
	margin-right: 70px;
}


.texto h2{
	text-align: center;
	font-size: 46px;
	color: #bca708;
}

.areaImagem {
	text-align: center;
	margin-top: 120px;

}


.areaImagem img{
border-radius: 10px;
height: 500px;
width: 400px;
	-webkit-box-shadow: -14px -15px 0px 1px rgba(54,61,57,1);
	-moz-box-shadow: -14px -15px 0px 1px rgba(54,61,57,1);
	box-shadow: -14px -15px 0px 1px rgba(54,61,57,1);
}


.agronomos{

}
.agronomos h4{
	margin: 0 auto;
	text-align: center;
	color: #0a1c11;
	margin-bottom: 60px; 
}
.agronomos .card{
	width: 80%;
}
.depoimentos-page h5{
	color: #0a1c11;
}
.depoimentos-page .media-body{
	padding: 10px 20px 0 20px;
	font-size: .9em;
}
.btn{
	background: #55c787;
	color: white;
	border: none;
	border-radius: 10px;
}
.btn:hover{
	background: #363d39;
	border: none;
}

.perguntas .btn{
	background: none;
	border: none;
}
.perguntas .btn:hover{
	background: none;
	border: none;
}
.btn-outline-secondary{
	color: #fff;
}



/* -----------------/Menu Lateral --------------------*/
.list-group-item {
  border: none;
}
.list-group-item.active,
.list-group-item.active:hover,
.list-group-item.active:focus {
  color: #666;
  background-color: #d7d7d7;
  font-weight: bold;
  border-radius: 0;
}

.map{
	height: 550px;
	border-top: 11px solid #284724;
}.footer{
	padding: 77px 0 77px 0;
	color: #fff;
	background: #0a1c11;
}
.footer h5{
	font-size: 0.9375em;
	text-transform: uppercase;
}
.footer p{
	color: #8c908e;
	font-size: 0.75em;
	text-transform: uppercase;
}
.footer span{
	font-size: 1.8em;
}
.footer ul{
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}
.footer ul li{
	list-style: none;
}
.footer ul li a{
	color: #8c908e;
	font-size: 0.75em;
	text-transform: uppercase;
}
.col-md-6 img {
    -ms-flex: 0 0 *0%;
    flex: 0 0 50%;
    text-align: center;
    max-width: 80%;
  }
  .col-md-6 h2 {
    -ms-flex: 0 0 *0%;
    flex: 0 0 50%;
    text-align: center;
    max-width: 80%;
  }

 h1{
 	margin-top: 50px;
	text-align: center;
	font-size: 46px;
	color: #bca708;
}


.logofooter {
    background-repeat: no-repeat;
    background-size: 250px 120px;
    padding-top: 150px;
    background-image:url('../img/bannerFooter.png');

}



@media (max-width: 768px) { 
.pagination{
	margin-left: 35%;
}

.area_aluno a{
    cursor:pointer;
	outline: none;
	display: inline;
    text-decoration: none;
	display:inline-block;
	color: #fff;
}
.area_aluno{
	color: #fff;
	padding: 5px 10px 4px 10px;
	margin-top: 40px;
	top: 80px;
	right: 5px;
	position: absolute;
	border-radius: 20px;
	background: #55c767; /* Old browsers */
	background: -moz-linear-gradient(top, #55c767 0%, #49aa4f 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #55c767 0%,#49aa4f 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #55c767 0%,#49aa4f 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#55c767', endColorstr='#49aa4f',GradientType=0 ); /* IE6-9 */
	z-index: 100;
	border: 1px solid #202b29;  
}
	.tudo {
 display: table;
 }
.clientestabela h3{
	margin-top: -100px;
	text-align: left;
	font-size: 46px;
	color: #bca708;
}
.clientestabela { 
 margin-top: 150px;
 margin-left: 2px;
 float: left;
 width: 70%;
}

.mapa h3{
	margin-top: 10px;
	font-size: 46px;
	color: #bca708;
}
.mapa{
	float: right;

 }


	.banner{
	  height: 100vh;
	  background: url(../img/bg.jpg);
	}
	.v-banner{
		display: none;
	}
	.m-banner{
		display: block;
	}

	.whatsapp{
		display: none;
	}
	.about h1{
		font-size: 2.2em;
	}
	.about p{
		width: 95%;
	}
	.view h2{
		width: 100%;
		position: inherit;
		top: 0;
		left: 0;	
		margin-top: 10px;	
	}
	.view p{
		width: 90%;
		margin-left: 0;
		margin-top: 0;
	}

	.footer{
		text-align: center;
	}
	.footer h5{
		margin-top: 2.5em;
	}
}

.cartarea {
	float: right;
    margin-top: 1px;
    margin-right: 10px;
}
.carticon {
	width:50px;
	height:50px;
	background-image:url('../img/cart.png');
	background-size:50px 50px;
	background-repeat:no-repeat;
	background-position:center;
	padding-left: 18px;
    padding-top: 6px;
    display:inline-block;
    vertical-align:top;
}
.carttotal {
	display:inline-block;
	color:#000;
}
.carttotal span {
	color:#fff;
	font-size:20px;
	font-weight: bold;
}
.cartqt {
	    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    color: #fbf9f9;
    font-weight: bold;
    font-size: 12px;
    background-color: #48f163;
    border-radius: 10px;
}
.original_price {
	font-size:25px;
	font-weight: bold;
}
.mainphoto img {
	width:70%;
}
.addtocart_submit {
	height:35px;
	float:left;
	margin-left:10px;
	background-color:#59B210;
	border:1px solid #59B210;
	border-radius:10px;
	color:#FFF;
	font-weight: bold;
	padding-left:20px;
	padding-right:20px;
}
.addtocartform {
	margin-top:20px;
}
.addtocart_qt {
	height:35px;
	width:35px;
	text-align: center;
	border:1px solid #CCC;
	outline:0;
	float:left;
}
.addtocartform button {
	width:30px;
	font-weight: bold;
	height:35px;
	text-align:center;
	border:1px solid #CCC;
	background-color:#FFF;
	float:left;
}
















